<%- include('../partials/html-declared.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <%- include('../partials/nav.ejs') %>

    <!-- Creating the body to create news -->
    <div class="create-news-content">
        <h3 class = "create-header">Create an Update</h3>
        <form id= "created-news">
            <div class="update-link">
                <label for="update-link">Update Link:</label>
                <input type="text" id="update-link" name= "update-link"><br>
            </div>
            <div class="updates-body">
                <label for="body">Update Content:</label>
                <textarea name="body" id="updates-body" cols="30" rows="10"></textarea>
            </div>

        </form>
        <div class="submit-button">
            <button id='submit' onclick="saveNews()">Submit</button>
        </div>
        
    </div>
    
    <script>
        function saveNews() {
            // Add a new message entry to the database
            return firebase.firestore().collection('updates') .add({
                name: firebase.auth().currentUser.displayName,
                updateLink: document.getElementById('update-link').value,
                updateContent: document.getElementById('updates-body').value,
                timestamp: firebase.firestore.FieldValue.serverTimestamp()
            }).then((result)=> {
                console.log(result);
                document.getElementById('update-link').value = '';
                document.getElementById('updates-body').value = '';
            })
            .catch((err)=> {
                console.error('Error writing new message to database', err);
            });
        }
    </script>

    <!-- Firebase SDK script and main.js script -->
    <%- include('../partials/firebase.ejs') %>
    <script src="scripts/logIn.js"></script>
    
</body>
</html>