.user-comment-list{
    padding-left: 16px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 8px;
}

.comment-title-timestamp-container{
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
}

#comment-title-container {
    padding-right: 32px;
}

#comment-content, #comment-timestamp{
    font-size: 12px;
}

.comment-title-content-timestamp-container{
    margin: 4px 4px;
    border: 1px solid black;
    padding: 4px 4px;
}

.header-user-comment-list h2 {
    padding-left: 8px;
}

.header-create-user-comment{
    border-bottom: 1px solid lightgrey;
    padding-top: 8px;
    padding-bottom: 8px;
}
.create-user-comment {
    padding-left: 16px;
    border: 1px solid black;
    padding-bottom: 4px;
}

.header-create-user-comment h2 {
    padding-left: 8px;
}

.comment-title-container{
    padding: 8px 0;
}

.comment-content-container{
    padding: 8px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#send-comment{
    background-color: green;
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 6px;
}

#discard-comment{
    background-color: red;
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 6px;
}