.select-ways-create-aircraft-container{
    text-align: center;
    background-color: lightslategray;
    margin-top: 16px;
}

.select-ways-create-aircraft-container h3 {
    color: white;
}

.create-news-content,.add-members-content,.edit-news-content,.create-your-aircraft,.create-your-custom-aircraft {
    background-color: rgb(243, 237, 237);
    margin: 16px 0;
}

.create-aircraft-note {
    background-color: red;
    display: inline-flex;
    align-items: baseline;
    padding-left: 16px;
}

.note-content {
    padding-left: 8px;
}

.note-header h3,.note-content p {
    color: white;
}

.create-header,.add-member-header,.edit-header {
    padding-left: 32px;
    padding-top: 16px;
}

#created-aircraft-container{
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 16px;
}

.aircraft-name-container{
    padding-top: 16px;
}

.wing-planform-header-container,.horizontal-tail-planform-header-container,.vertical-tail-planform-header-container,.fuselage-header-container {
    padding-top: 32px;
}

#wing-planform-properties-container,#horizontal-tail-planform-properties-container,#vertical-tail-planform-properties-container,#fuselage-properties-container{
    padding-bottom: 8px;
    border: 1px solid black;
    padding-left: 8px;
}

#wing-planform-properties-container div,#horizontal-tail-planform-properties-container div,#vertical-tail-planform-properties-container div,#fuselage-properties-container div {
    padding-top: 8px;
}

#created-news, #add-members, #edited-news{
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.title, .member_name, .edited-title {
    padding-bottom: 16px;
}

.snippet, .edited-snippet {
    padding-bottom: 16px;
}

.news-body, .edited-news-body {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button,.customized-submit-button {
    text-align: center;
    padding-bottom: 16px;
}

#submit,#customized-submit {
    background-color: green;
    color: white;
    font-size: large;
    text-align: center;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 15px;
    font-style: normal;
}

/* Updates Format to database */
.update-link {
    padding-bottom: 16px;
}

.updates-body, .member-info {
    display: flex;
    padding-bottom: 16px;
    align-items: center;
    justify-content: center;
}

.member-container, .news-img-container, .edited-news-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

.member-image, .news-img-container div, .edited-news-img-container div {
    padding-left: 8px;
}

/* Format Additional Content for Edit Page */
#existed-new-img {
    width: 128px;
    height: auto;
}


/* Format Custom Aircraft Page */
.selected-added-user-aircraft-container{
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 0;
}

.create-new-customized-user-aircraft-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-user-aircraft-button {
    margin: 0 0;
    padding: 0 0;
    background-color: transparent;
    font-size: larger;
    padding-left: 16px;
}

/* Customize toolbar for aircraft planform element */
.customized-aircraft-planform-elements-toolbar-container,.customized-aircraft-fuselage-toolbar-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: lightskyblue;
    padding: 4px 0;
    margin-top: 4px;
}

.view-remove-edit-add-toolbar-container{
    display: flex;
}

.view-remove-edit-add-toolbar-container div{
    padding: 0 8px;
}

.view-remove-edit-add-toolbar-container button{
    background-color: transparent;
}


.customized-aircraft-planform-elements-toolbar-container p, .customized-aircraft-fuselage-toolbar-container p{
    font-style: italic;
    font-size: 14px;
}

#add-new-user-aircraft-submit-button {
    background-color: transparent;
    font-size: medium;
    margin-left: 16px;
}

.select-user-aircraft-planforms-container,.select-user-fuselage-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-user-aircraft-planforms-container button, .select-user-fuselage-container button{
    background-color: transparent;
}

.select-user-aircraft-planforms-container div, .select-user-fuselage-container div {
    padding: 0 8px;
}

/* Format the display content */
.customized-aircraft-planforms-display-container,.customized-aircraft-fuselage-display-container {
    text-align: center;
}

.customized-aircraft-planforms-display-container div,.customized-aircraft-fuselage-display-container div{
    padding: 4px 0;
}


/* Customize Modal Box Popup */
.add-edit-aircraft-modal-container,.delete-aircraft-modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.add-edit-modal-content,.delete-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 100px auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
  
/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

.modal-body div {
    padding: 6px 0;
}
  
/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-footer button {
    width: 100%;
    height: auto;
    padding: 6px 0;
    margin: 4px 0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border-radius: 8px;
}


  
/* Add Animation */
@keyframes animatetop {
from {top: -300px; opacity: 0}
to {top: 0px; opacity: 1}
}


    


