.create-news-content,.add-members-content,.edit-news-content,.create-your-aircraft {
    background-color: rgb(243, 237, 237);
    margin: 16px 0;
}

.create-aircraft-note {
    background-color: red;
    display: inline-flex;
    align-items: baseline;
    padding-left: 16px;
}

.note-content {
    padding-left: 8px;
}

.note-header h3,.note-content p {
    color: white;
}

.create-header,.add-member-header,.edit-header {
    padding-left: 32px;
    padding-top: 16px;
}

#created-aircraft-container{
    padding-left: 64px;
    padding-bottom: 16px;
}

.aircraft-name-container{
    padding-top: 16px;
}

.wing-planform-header-container,.horizontal-tail-planform-header-container,.vertical-tail-planform-header-container,.fuselage-header-container {
    padding-top: 32px;
}

#wing-planform-properties-container,#horizontal-tail-planform-properties-container,#vertical-tail-planform-properties-container,#fuselage-properties-container{
    padding-bottom: 8px;
    border: 1px solid black;
    padding-left: 8px;
}

#wing-planform-properties-container div,#horizontal-tail-planform-properties-container div,#vertical-tail-planform-properties-container div,#fuselage-properties-container div {
    padding-top: 8px;
}

#created-news, #add-members, #edited-news{
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.title, .member_name, .edited-title {
    padding-bottom: 16px;
}

.snippet, .edited-snippet {
    padding-bottom: 16px;
}

.news-body, .edited-news-body {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button {
    text-align: center;
    padding-bottom: 16px;
}

#submit {
    background-color: green;
    color: white;
    font-size: large;
    text-align: center;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 15px;
    font-style: normal;
}

/* Updates Format to database */
.update-link {
    padding-bottom: 16px;
}

.updates-body, .member-info {
    display: flex;
    padding-bottom: 16px;
    align-items: center;
    justify-content: center;
}

.member-container, .news-img-container, .edited-news-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

.member-image, .news-img-container div, .edited-news-img-container div {
    padding-left: 8px;
}

/* Format Additional Content for Edit Page */
#existed-new-img {
    width: 128px;
    height: auto;
}

    


