<div id= "created-aircraft-container">
    <div class="aircraft-name-container">
        <label for="aircraft-name">Aircraft Name(*):</label>
        <input type="text" id="aircraft-name" name= "aircraft-name" required><br>
    </div>

    <div class="aircraft-planform">

        <!-- Wing Properties -->
        <div class="wing-planform-header-container">
            <h4 id="wing-planform-header">Aircraft Wing Properties</h4>
        </div>

        <div id="wing-planform-properties-container">
            <form id="wing-planform-properties-form">
                <div id="wing-span-container">
                    <label for="wing-span">Wing Span:</label>
                    <input type="number" id="wing-span" name="wing-span">
                    <label for="wing-span">ft</label>
                </div>

                <div id="root-chord-container">
                    <label for="wing-root-chord">Root Chord:</label>
                    <input type="number" id="wing-root-chord" name="wing-root-chord">
                    <label for="wing-root-chord">ft</label>
                </div>

                <div id="tip-chord-container">
                    <label for="wing-tip-chord">Tip Chord:</label>
                    <input type="number" id="wing-tip-chord" name="wing-tip-chord">
                    <label for="wing-tip-chord">ft</label>
                </div>

                <div id="sweep-leadingEdge-container">
                    <label for="wing-sweep-leadingEdge">Sweep Leading Edge:</label>
                    <input type="number" id="wing-sweep-leadingEdge" name="wing-sweep-leadingEdge">
                    <label for="wing-sweep-leadingEdge">&#176</label>
                </div>
            </form>
        </div>

        <!-- Horizontal Tail Properties -->
        <div class="horizontal-tail-planform-header-container">
            <h4 id="horizontal-tail-planform-header">Horizontal Tail Properties</h4>
        </div>

        <div id="horizontal-tail-planform-properties-container">
            <form id="horizontal-tail-planform-properties-form">
                <div id="horizontal-tail-span-container">
                    <label for="horizontal-tail-span">Horizontal Tail Span: </label>
                    <input type="number" id="horizontal-tail-span" name="horizontal-tail-span">
                    <label for="horizontal-tail-span">ft</label>
                </div>

                <div id="horizontal-tail-root-chord-container">
                    <label for="horizontal-tail-root-chord">Root Chord: </label>
                    <input type="number" id="horizontal-tail-root-chord" name="horizontal-tail-root-chord">
                    <label for="horizontal-tail-root-chord">ft</label>
                </div>

                <div id="horizontal-tail-tip-chord-container">
                    <label for="horizontal-tail-tip-chord">Tip Chord: </label>
                    <input type="number" id="horizontal-tail-tip-chord" name="horizontal-tail-tip-chord">
                    <label for="horizontal-tail-tip-chord">ft</label>
                </div>

                <div id="horizontal-tail-sweep-leadingEdge-container">
                    <label for="horizontal-tail-sweep-leadingEdge">Sweep Leading Edge: </label>
                    <input type="number" id="horizontal-tail-sweep-leadingEdge" name="horizontal-tail-sweep-leadingEdge">
                    <label for="horizontal-tail-sweep-leadingEdge">&#176</label>
                </div>
            </form>
        </div>

        <!-- Vertical Tail Properties -->
        <div class="vertical-tail-planform-header-container">
            <h4 id="vertical-tail-planform-header">Vertical Tail Properties</h4>
        </div>

        <div id="vertical-tail-planform-properties-container">
            <form id="vertical-tail-planform-properties-form">
                <div id="vertical-tail-span-container">
                    <label for="vertical-tail-span">Horizontal Tail Span: </label>
                    <input type="number" id="vertical-tail-span" name="vertical-tail-span">
                    <label for="vertical-tail-span">ft</label>
                </div>

                <div id="vertical-tail-root-chord-container">
                    <label for="vertical-tail-root-chord">Root Chord: </label>
                    <input type="number" id="vertical-tail-root-chord" name="vertical-tail-root-chord">
                    <label for="vertical-tail-root-chord">ft</label>
                </div>

                <div id="vertical-tail-tip-chord-container">
                    <label for="vertical-tail-tip-chord">Tip Chord: </label>
                    <input type="number" id="vertical-tail-tip-chord" name="vertical-tail-tip-chord">
                    <label for="vertical-tail-tip-chord">ft </label>
                </div>

                <div id="vertical-tail-sweep-leadingEdge-container">
                    <label for="vertical-tail-sweep-leadingEdge">Sweep Leading Edge: </label>
                    <input type="number" id="vertical-tail-sweep-leadingEdge" name="vertical-tail-sweep-leadingEdge">
                    <label for="vertical-tail-sweep-leadingEdge">&#176</label>
                </div>
                
            </form>
        </div>

        <!-- fuselage Planform -->
        <div class="fuselage-header-container">
            <h4 id="fuselage-header">Fuselage Properties</h4>
        </div>

        <div id="fuselage-properties-container">
            <form id="fuselage-properties-form">
                <div id="fuselage-wetted-area-container">
                    <label for="fuselage-wetted-area">Fuselage Wetted Area: </label>
                    <input  type="number" id="fuselage-wetted-area" name="fuselage-wetted-area">
                    <label for="fuselage-wetted-area">Squared ft</label>
                </div>

                <div id="fuselage-volume-container">
                    <label for="fuselage-volume">Fuselage Volume: </label>
                    <input type="number" id="fuselage-volume" name="fuselage-volume">
                    <label for="fuselage-volume">Cubic ft</label>
                </div>
            </form>
        </div>

    </div>
</div>