<!-- User Comment Section -->
<div class = "header-user-comment-list">
    <h2>Comment Section</h2>
    <div class="user-comment-list">
    </div>
</div>

<!-- Creating a comment for user -->
<div class="header-create-user-comment">
    <h2>Add Comment</h2>
    <div class="create-user-comment">
        <form id="user-comment-created">
            <div class="title-content-container">
                <div class="comment-title-container">
                    <label for="comment-title-input">Title:</label>
                    <input type="text" id="comment-title-input" name = "comment-title-input">
                </div>
    
                <div class="comment-content-container">
                    <label for="comment-content-input">Comment:</label>
                    <textarea name="comment-content-textArea" id="comment-content-textArea" cols="30" rows="10"></textarea>
                </div>
            </div>
        </form>
        <button id="send-comment">Send</button>
        <button id="discard-comment">Discard</button>
    </div>    
</div>



