<div class="delete-aircraft-modal-container">
        
    <div class="delete-modal-content">
        <div class="modal-header">
            <p>Delete Selected Element</p>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p id="checking-aircraft-planform-text"></p>
        </div>
        <div class="modal-footer">

            <button hidden class="confirm-fuselage-delete-button">
                <p>Yes</p>
            </button>
            
            <button hidden class="confirm-delete-button">
                <p>Yes</p>
            </button>

            <button class = "deny-delete-button">
                <p>No</p>
            </button>
        </div>
    </div>

</div>