<!-- Footer -->
<div class="footer">
    <p>Airlyzer is a website that allow Aeronautics Engineer to analyze their designed aircraft faster. It includes calculations that determine the lift, drag, performance and stability of the aircraft.</p>
    <p class="copyright">Copyright 2021 by Duong Anh Vu</p>
</div>