<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f6a55e21f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/create_styles.css">
    <link rel="stylesheet" href="../styles/signUp_styles.css">
    <link rel="stylesheet" href="../styles/detail_styles.css">
    <link rel="stylesheet" href="../styles/comment_styles.css">
    <title>Document</title>
</head>