<!-- Navigation -->
<div hidden= 'true' class="dropdown-content">
    <div>
        <a href="/create-news">Create News</a>
    </div>
    <div>
        <a href="/create-updates">Create Updates</a>
    </div>
</div>

<div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>